<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" [style]="{width:'20em'}">
  <h1 style="font-weight:normal">Google Map</h1>
  <hr>
  <ul class="list-group">
    <li class="list-group-item list-group-item-warning" routerLink="circulo" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Circulo</li>
    <li class="list-group-item list-group-item-warning" routerLink="rectangulo" routerLinkActive="active">Rectangulo</li>
    <li class="list-group-item list-group-item-warning" routerLink="mapGroundOverlay" routerLinkActive="active">Overlay</li>
    <li class="list-group-item list-group-item-warning" routerLink="mapInfo" routerLinkActive="active">MapInfo</li>
    <li class="list-group-item list-group-item-warning" routerLink="mapKml" routerLinkActive="active">Kml</li>
    <li class="list-group-item list-group-item-warning" routerLink="poligono" routerLinkActive="active">Poligono</li>
    <li class="list-group-item list-group-item-warning" routerLink="polyline" routerLinkActive="active">Polyline</li>
    <li class="list-group-item list-group-item-warning" routerLink="trafico" routerLinkActive="active">Trafico</li>
    <li class="list-group-item list-group-item-warning" routerLink="eventos" routerLinkActive="active">Eventos</li>
    <li class="list-group-item list-group-item-warning" routerLink="agrupaciones" routerLinkActive="active">Agrupaciones</li>
    <li class="list-group-item list-group-item-warning" routerLink="iconosVectoriales" routerLinkActive="active">Iconos Vectoriales</li>
    <li class="list-group-item list-group-item-warning" routerLink="circulo/prueba" routerLinkActive="active">Servicio Rutas</li>
    <li class="list-group-item list-group-item-warning" routerLink="circulo/prueba2" routerLinkActive="active">Cambio de Ruta</li>
  </ul>
</p-sidebar>
<button pButton type="button" icon="pi pi-arrow-right" (click)="visibleSidebar1 = true" class="p-button-warning"></button>
<div *ngIf="apiLoaded | async">
  <router-outlet></router-outlet>
</div>


