<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <p-panel header="Rectangulo">
        <div class="row justify-content-md-center">
          <!-- google-maps-demo.component.html -->
          <google-map height="400px"
                      width="100%"
                      [center]="center"
                      [zoom]="zoom">
            <map-rectangle [bounds]="bounds"></map-rectangle>
          </google-map>
        </div>
      </p-panel>
    </div>
  </div>
</div>
