
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <p-panel header="Poligono">
        <div class="row justify-content-md-center">
          <google-map height="400px"
                      width="750px"
                      [center]="center"
                      [zoom]="zoom">
            <map-polygon [paths]="vertices" [options]="{fillColor: '#FF0000'}"></map-polygon>
          </google-map>
        </div>
      </p-panel>
    </div>
  </div>
</div>
